.carrefourPicturesProducts {
	height: 2rem !important;
	width: auto !important;
	margin : 0 0.4rem !important;
	}
	
.carrefourPicturesProduct {
	height: 2.5rem !important;
	width: auto !important;
	margin : 0 0.4rem !important;
	
	}
	
.ds-product-card--vertical-badges{	
	margin-top: 0rem !important;
	}

.tabNutriNova{
	min-height: 2.45rem;
	}
	
	
