.cssProducts {
	height: 2rem !important;
	width: auto !important;
	margin : 0 0.4rem !important;
	}
	
.cssProduct {
	height: 2.5rem !important;
	width: auto !important;
	margin : 0 0.4rem !important;
	
	}
